body{

    margin:0;
    padding:0;
    box-sizing: border-box;

}
.container {
  display:flex;
 justify-content: center;
 align-items: center;
 height:100vh;
 background-color: rgb(240,240,240);
 

}
.one-one{

    
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.two-two{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-in{
    border:1px solid;
    height:40vh;
    width:30%;
     text-align: center;
     justify-content:center;
     align-items:center;
     display:flex;
     flex-direction: column;
     gap:20px;
     border-radius: 10px;
     background-color: white;

}
.one-one input[type="text"]{
    border:1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    height:30px;
    width:200px;
}
.two-two input[type="password"]{
    border:1px solid black;
    border-radius: 5px;
    padding-left:10px;
    height:30px;
    width:200px;
    
}
.three-three{
    display:flex;
    width:80%;
    justify-content:flex-start;
    
    
}
.four-four button{
    height:30px;
    border: none;
    border-radius:10px;
    background-color:blue;
    color:white;
    width:80%;
    
}
    
.four-four{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    
}
